jQuery.sap.require("sap.ui.qunit.qunit-css");
jQuery.sap.require("sap.ui.thirdparty.qunit");
jQuery.sap.require("sap.ui.qunit.qunit-junit");
QUnit.config.autostart = false;

// We cannot provide stable mock data out of the template.
// If you introduce mock data, by adding .json files in your webapp/localService/mockdata folder you have to provide the following minimum data:
// * At least 3 {{&masterdetail.parameters.ObjectCollection.value.name}} in the list
{{#masterdetail.parameters.LineItemCollection.value.name}}
// * All 3 {{&masterdetail.parameters.ObjectCollection.value.name}} have at least one {{&masterdetail.parameters.LineItemCollection.value.name}}
{{/}}

sap.ui.require([
	"sap/ui/test/Opa5",
	"{{&masterdetail.parameters.ApplicationNamespace.depValue}}/test/integration/pages/Common",
	"sap/ui/test/opaQunit",
	"{{&masterdetail.parameters.ApplicationNamespace.depValue}}/test/integration/pages/App",
	"{{&masterdetail.parameters.ApplicationNamespace.depValue}}/test/integration/pages/Browser",
	"{{&masterdetail.parameters.ApplicationNamespace.depValue}}/test/integration/pages/Master",
	"{{&masterdetail.parameters.ApplicationNamespace.depValue}}/test/integration/pages/Detail",
	"{{&masterdetail.parameters.ApplicationNamespace.depValue}}/test/integration/pages/NotFound"
], function (Opa5, Common) {
	"use strict";
	Opa5.extendConfig({
		arrangements: new Common(),
		viewNamespace: "{{&masterdetail.parameters.ApplicationNamespace.value}}.view."
	});

	sap.ui.require([
		"{{&masterdetail.parameters.ApplicationNamespace.depValue}}/test/integration/MasterJourney",
		"{{&masterdetail.parameters.ApplicationNamespace.depValue}}/test/integration/NavigationJourney",
		"{{&masterdetail.parameters.ApplicationNamespace.depValue}}/test/integration/NotFoundJourney",
		"{{&masterdetail.parameters.ApplicationNamespace.depValue}}/test/integration/BusyJourney"{{#masterdetail.parameters.FLP.value.value}},
		"{{&masterdetail.parameters.ApplicationNamespace.depValue}}/test/integration/FLPIntegrationJourney"{{/}}
	], function () {
		QUnit.start();
	});
});