<core:FragmentDefinition
		xmlns="sap.m"
		xmlns:core="sap.ui.core">
	<MessagePopover
			id="messagePopover"
			items="{message>/}" >
		<items>
			<MessagePopoverItem
					title="{message>message}"
					type="{message>type}"
					description="{message>description}" />
		</items>
	</MessagePopover>
</core:FragmentDefinition>