sap.ui.define([
		"test/unit/model/models",
		"test/unit/model/formatter",
		"test/unit/controller/App.controller",
		"test/unit/controller/ListSelector"{{#masterdetail.parameters.Object_Number.value.name}},
		"test/unit/model/grouper",
		"test/unit/model/GroupSortState"{{/masterdetail.parameters.Object_Number.value.name}}
	], function() { "use strict"; });